<section class="toc-component">
  <div class="container">
    <article class="toc-section toc-section--basics">
      <div class="toc-heading">
        <i class="fa fa-globe"></i>
        <h3>
          <a href="/basics/introduction.html">Basics</a>
        </h3>
        <small>
          <span>3</span> lessons
        </small>
        <em>
          For absolute <strong>beginners</strong>
        </em>
      </div>
      <ol class="toc-content">
        {% for post in site.posts reversed %}
        {% capture currentsection %}{{ post.section }}{% endcapture %}
        {% if currentsection == "basics" %}
        {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %}
        {% if currentmonth != month %}
        <li class="toc-month">
          <a href="{{ post.url }}">

            <em>{{currentmonth}}</em>
            {{ post.title | strip_html }}
          </a>
        </li>
        {% capture month %}{{currentmonth}}{% endcapture %}
        {% else %}
        <li>
          <a href="{{ post.url }}" {%if page.url==post.url %} class="active" {% endif %}>
            {{ post.title }}
          </a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ol>
    </article>

  </div>
</section>